<ion-content>

    <ion-img class=fotolocation position="center"  src="assets/active location.png"></ion-img>
  <div class= text>
    <h1 class="title">¡Hola, un placer conocerte!</h1>
    <p style="text-align: center; font-size: 20px; color:lightgray; font-weight: 300;">Para poder utilizar esta aplicación debes darnos permiso a tu ubicación.</p>
  </div>
  
  <ion-button class='boton' margin=20px expand="block" fill= "outline" (click)="turnLocationOn()">Usar mi ubicación actual</ion-button>
  </ion-content>
