.fotolocation{
    width: 100% !important;
    height: auto;
    object-fit: cover;
    padding: 0;
    margin-top: 120px;
}

.title{
    left: 0;
    right:0;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

.boton{
    --border-color: #29abe2;
}