<div class="fondo">
        <ion-button class="btnBack" (click)= navigateBack()>
                <ion-icon name="ios-arrow-back"></ion-icon>
        </ion-button>

    <ion-img class="logo"  src="assets/logo-con-nombre.png"></ion-img>
    <ion-card class="card">
         <div class="div">
             <ion-input class=input type="text" placeholder="Entre contraseña"></ion-input>
             <ion-input class=input type="text" placeholder="Confirme contraseña"></ion-input>
        </div>
        <ion-button class="boton" margin=20px expand="block" (click)=confirmPass()> Confirmar</ion-button>
    </ion-card>

</div>
   

