.logo{
    margin-top: 30px;
    height: 120px;
}

.btnBack{
color: gray;
 margin-top: 30px !important;
 --box-shadow:none;
 --background: none;
}

.fondo{
    background-color: rgb(245, 245, 245);
    height: 100vh;
}

.card{
    height: 400px;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
}
.input{
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(218,218,218);
    --padding-start: 5px;
    
}

.div{
    margin: 20px;
    left: 0;
    right: 0;
    margin-top: 50px;
}

.boton{
    --background: #2eabe2;
    width: 200px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}